/* style sheet */


/* zt */

*{margin: 0px; padding: 0px}

.zt_gz{width: 990px; float: left; background-color: #fffdfb}

.zt_gz .sku{width: 990px; float: left;}

.zt_gz .sku .main{float: left; margin-bottom: 10px; margin-top: 10px}

.zt_gz .sku .main .list{list-style-type: none}

.zt_gz .title{margin-bottom: 10px; margin-top: 10px}

.zt_gz .gz_banner{margin-bottom: 30px}
    
.relative{position: relative}

.absolute{position: absolute}

.bfc{float: left; display: inline}


/* 4 col */

.col4{width: 230px; height: 370px; overflow: hidden; margin-left: 13px; text-align: center; float: left; margin-top: 10px}

.col4 .pic{width: 230px; height: 230px; }

.col4 .name{font: 300 16px/22px 'Microsoft YaHei'; height: 60px; margin: 5px auto}

.col4 .price{font: 300 20px/22px 'Microsoft YaHei'; height: 22px;}

.col4 .price:first-letter{font-size: 14px}

.col4 .price span{font: 300 14px/22px 'Microsoft YaHei'; margin-left: 10px; text-decoration: line-through}

.col4 .button{width:190px; height: 28px; margin: 8px auto}

/*  button  */
.button{cursor: pointer}

.defbutton{cursor: default; display: none;}

/* normal color */
.Red-violet{color: #db4360}

.Concrete-grey{color: #a1a1a1}

.Silk-grey{color: #555555}


/* animate */
.htyanimate{-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-ms-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;}
.htyanimate:hover{-webkit-box-shadow: #F90 0px 0px 7px;-webkit-transform: translateY(-3px);-moz-box-shadow: #F90 0px 0px 7px;-moz-transform: translateY(-3px);-ms-box-shadow: #F90 0px 0px 7px;-ms-transform: translateY(-3px);-o-box-shadow: #F90 0px 0px 7px;-o-transform: translateY(-3px);box-shadow: #F90 0px 0px 7px;transform: translateY(-3px);}